extends base

block content 
    main.main
      .main-container Add Candidates to Database
      form.form.form--submit(action="/upload", method="POST",enctype = "multipart/form-data")
        label.custom-file-upload(for='excel',id='note') 
          img.img-input(src='/img/arrow-up.png', alt='User Photo')
          <span id="file-chosen">Upload a .xlsx or .xls file here</span>
          button.btn.btn--small.btn--green Submit
        input.input-element(type="file", accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel",id="excel",name="excel")
        //- input.input-element(type="file", accept="image/*",id="image",name="image")




    
              
        